<ng-container *contra="let c">
  <div class="toolbar mbe-4">
    <h3>{{c['groups']}}</h3>
    <div class="grow"></div>
    <button
      class="btn-icon btn-round btn-tiny btn-primary"
      (click)="openDialog(addGroupTmp)"
    >
      <i puiIcon="add" size="small"></i>
    </button>
  </div>

  <ng-container *ngIf="groups.length else noData">
    <ng-container *ngFor="let g of groups; let last = last">

      <div class="card card-small card-clear">
        <div class="card-header pi-0 actions-on-hover">
          <h4>{{g.name}}</h4>
          <div class="grow"></div>
          <button
            class="btn-icon btn-tiny btn-round"
            (click)="openDialog(updateGroupTmp, g.serial)"
          >
            <i size="tiny" puiIcon="edit"></i>
          </button>
          <button
            class="btn-icon btn-tiny btn-round"
            (click)="openDialog(removeGroupTmp, g.serial)"
          >
            <i size="tiny" puiIcon="delete"></i>
          </button>
        </div>

        <div class="card-body  pi-0 pbe-0">
          <no-data-placeholder-widget
            [small]="true"
            *ngIf="!g.dataStores.length && !g.blueprints.length && !g.topics.length && !g.dashboards.length && !g.reports.length"
            >{{c['noDataMsg']}}</no-data-placeholder-widget
          >
          <div class="mbe-6" *ngIf="g.dataStores.length">
            <h5 class="mbe-2 f10 bold text3">{{c['dataStores']}}</h5>
            <div class="toolbar mbe-1 actions-on-hover" *ngFor="let pin of g.dataStores">
              <a
                class="f9 bold"
                [routerLink]="['/main/data-stores', pin.serial]"
                >{{pin.name}}
              </a>
              <div class="grow"></div>
              <button
                class="btn-icon btn-tiny btn-round"
                (click)="openDialog(removePinTmp, pin.serial)"
              >
                <i size="tiny" puiIcon="delete"></i>
              </button>
            </div>
          </div>
          <div class="mbe-6" *ngIf="g.blueprints.length">
            <h5 class="mbe-2 f10 bold text3">{{c['blueprints']}}</h5>
            <div class="toolbar mbe-1 actions-on-hover" *ngFor="let pin of g.blueprints">
              <a class="f9 bold" [routerLink]="['/main/blueprints', pin.serial]"
                >{{pin.name}}</a
              >
              <div class="grow"></div>
              <button
                class="btn-icon btn-tiny btn-round"
                (click)="openDialog(removePinTmp, pin.serial)"
              >
                <i size="tiny" puiIcon="delete"></i>
              </button>
            </div>
          </div>
          <div class="mbe-6" *ngIf="g.topics.length">
            <h5 class="mbe-2 f10 bold text3">{{c['topics']}}</h5>
            <div class="toolbar mbe-1 actions-on-hover" *ngFor="let pin of g.topics">
              <a
                class="f9 bold"
                [routerLink]="['/main/topics', pin.scope, pin.serial]"
                >{{pin.name}}</a
              >
              <div class="grow"></div>
              <button
                class="btn-icon btn-tiny btn-round"
                (click)="openDialog(removePinTmp, pin.serial)"
              >
                <i size="tiny" puiIcon="delete"></i>
              </button>
            </div>
          </div>
          <div class="mbe-6" *ngIf="g.dashboards.length">
            <h5 class="mbe-2 f10 bold text3">{{c['dashboards']}}</h5>
            <div class="toolbar mbe-1 actions-on-hover" *ngFor="let pin of g.dashboards">
              <a
                class="f9 bold"
                [routerLink]="['/main/dashboards', pin.scope, pin.serial]"
                >{{pin.name}}</a
              >
              <div class="grow"></div>
              <button
                class="btn-icon btn-tiny btn-round"
                (click)="openDialog(removePinTmp, pin.serial)"
              >
                <i size="tiny" puiIcon="delete"></i>
              </button>
            </div>
          </div>
          <div *ngIf="g.reports.length">
            <h5 class="mbe-2 f10 bold text3">{{c['reports']}}</h5>
            <div class="toolbar mbe-1 actions-on-hover" *ngFor="let pin of g.reports">
              <a
                class="f9 bold"
                [routerLink]="['/main/reports', pin.scope, pin.serial]"
                >{{pin.name}}</a
              >
              <div class="grow"></div>
              <button
                class="btn-icon btn-tiny btn-round"
                (click)="openDialog(removePinTmp, pin.serial)"
              >
                <i size="tiny" puiIcon="delete"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!last" class="divider mbs-3 mbe-2"></div>
    </ng-container>
  </ng-container>

  <ng-template #noData>
    <no-data-placeholder-widget
      [actionName]="c['addGroup']"
      (action)="openDialog(addGroupTmp)"
      >{{c['noDataMsg']}}</no-data-placeholder-widget
    >
  </ng-template>

  <ng-template #addGroupTmp>
    <div class="card w-15 shadow-6">
      <h4 class="card-header">{{c['addGroup']}}</h4>
      <div class="card-body">
        <label for="grou-name">{{c['name']}}</label>
        <div class="fc">
          <input type="text" [formControl]="groupName" id="group-name" />
        </div>
      </div>
      <div class="card-footer">
        <button class="btn-round btn-outline" (click)="closeDialog()">
          {{c['cancel']}}
        </button>
        <button class="btn-round btn-primary" (click)="addGroup()">
          {{c['add']}}
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #updateGroupTmp let-serial>
    <div class="card w-15 shadow-6">
      <h4 class="card-header">{{c['updateGroup']}}</h4>
      <div class="card-body">
        <label for="grou-name">{{c['name']}}</label>
        <div class="fc">
          <input type="text" [formControl]="groupName" id="group-name" />
        </div>
      </div>
      <div class="card-footer">
        <button class="btn-round btn-outline" (click)="closeDialog()">
          {{c['cancel']}}
        </button>
        <button class="btn-round btn-primary" (click)="updateGroup(serial)">
          {{c['update']}}
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #removeGroupTmp let-serial>
    <div class="card w-15 shadow-6">
      <h4 class="card-header">{{c['removeGroup']}}</h4>
      <p class="card-body">{{c['confirmOperation']}}</p>
      <div class="card-footer">
        <button class="btn-round btn-outline" (click)="closeDialog()">
          {{c['cancel']}}
        </button>
        <button class="btn-round btn-primary" (click)="removeGroup(serial)">
          {{c['remove']}}
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #removePinTmp let-serial>
    <div class="card w-15 shadow-6">
      <h4 class="card-header">{{c['removePin']}}</h4>
      <p class="card-body">{{c['confirmOperation']}}</p>
      <div class="card-footer">
        <button class="btn-round btn-outline" (click)="closeDialog()">
          {{c['cancel']}}
        </button>
        <button class="btn-round btn-primary" (click)="removePin(serial)">
          {{c['remove']}}
        </button>
      </div>
    </div>
  </ng-template>
</ng-container>
