<ng-container *contra="let c">
  <ng-container *ngIf="user$ | async as u">
    <header class="bg-surface1 p-4 border-be">
      <div class="container">
        <div class="toolbar gap-2">
          <app-avatar [serial]="u.serial" username size="large"></app-avatar>
          <div class="grow"></div>
          <ng-container *ngIf="canUpdate">
            <button
              class="color-scheme-dark btn-surface1 btn-round btn-small"
              (click)="openModal(updatePasswordModal)"
            >
              {{c['updatePassword']}}
            </button>
            <button
              class="btn-primary btn-round btn-small"
              (click)="openModal(updateUsernameModal)"
            >
              {{c['updateUsername']}}
            </button>
          </ng-container>
        </div>
      </div>
    </header>

    <main class="p-4">
      <div class="container">
        <div class="toolbar mbe-6">
          <h2 mbe>{{c['details']}}</h2>
        </div>

        <div class="grid cols-1 gap-4 mbe-8">
          <section class="card">
            <div class="card-header">
              <i puiIcon="access"></i>
              <h3>{{c['personalInfo']}}</h3>
              <div class="grow"></div>
              <div class="grow"></div>
              <button
                *ngIf="canUpdate"
                class="btn-small btn-icon btn-round"
                (click)="openModal(updateProfileModal)"
              >
                <i size="tiny" puiIcon="edit"></i>
              </button>
            </div>

            <div class="card-body">
              <h5>{{c['name']}}</h5>
              <p class="mbe-4">{{u.fullname}}</p>

              <h5>{{c['email']}}</h5>
              <p class="mbe-4">{{u.email || c['none']}}</p>

              <h5>{{c['mobile']}}</h5>
              <p class="mbe-4">{{u.mobile || c['none']}}</p>
            </div>

            <div class="divider pi-7"></div>

            <div class="card-header">
              <i puiIcon="military_tech"></i>
              <h3>
                {{c['roles']}}
                <span class="f9 text3 bold" *ngIf="u.is_super"
                  >{{c['superAdmin']}}</span
                >
              </h3>
              <div class="grow"></div>
              <button
                *ngIf="canUpdate"
                class="btn-small btn-icon btn-round"
                (click)="openModal(updateRolesModal)"
              >
                <i size="tiny" puiIcon="edit"></i>
              </button>
            </div>

            <div class="card-body flex gap-1 flex-wrap">
              <p
                class="badge badge-primary badge-round"
                *ngFor="let r of u.roles"
              >
                {{r}}
              </p>
            </div>
          </section>

          <!-- <section class="card">
            <div class="card-header">
              <i puiIcon="group"></i>
              <h3>{{c['alternatives']}}</h3>
              <div class="grow"></div>
              <button *ngIf="canUpdate" class="btn-small btn-icon btn-round">
                <i puiIcon="add" size="small"></i>
              </button>
            </div>

            <div class="card-body">
              <no-data-placeholder-widget
                >{{c['noDataMsg']}}</no-data-placeholder-widget
              >
            </div>
          </section> -->
        </div>

        <section class="card activity">
          <div class="card-header">
            <i puiIcon="insights"></i>
            <h3>{{c['activity']}}</h3>
            <div class="grow"></div>
            <div class="flex">
              <button
                class="btn-round"
                [class.btn-primary]="actsPeriod === 'week'"
                (click)="actsPeriod = 'week'"
              >
                {{c['week']}}
              </button>
              <button
                class="btn-round"
                [class.btn-primary]="actsPeriod === 'month'"
                (click)="actsPeriod = 'month'"
              >
                {{c['_month']}}
              </button>
              <button
                class="btn-round"
                [class.btn-primary]="actsPeriod === 'year'"
                (click)="actsPeriod = 'year'"
              >
                {{c['_year']}}
              </button>
            </div>
          </div>

          <div class="card-body">
            <app-user-activity
              [serial]="u.serial"
              [period]="actsPeriod"
            ></app-user-activity>
          </div>
        </section>
      </div>
    </main>

    <ng-template #updateUsernameModal>
      <pestras-update-username
        [user]="u"
        (closes)="closeModal()"
      ></pestras-update-username>
    </ng-template>

    <ng-template #updatePasswordModal>
      <pestras-update-password
        [user]="u"
        (closes)="closeModal()"
      ></pestras-update-password>
    </ng-template>

    <ng-template #updateProfileModal>
      <pestras-update-profile
        [user]="u"
        (closes)="closeModal()"
      ></pestras-update-profile>
    </ng-template>

    <ng-template #updateRolesModal>
      <app-update-roles [user]="u" (closes)="closeModal()"></app-update-roles>
    </ng-template>
  </ng-container>
</ng-container>
