<ng-container *contra="let c">
  <header>
    <div class="toolbar mbe-4">
      <h3 class="weight-8">{{c['topics']}}</h3>
      <div class="grow"></div>
      <button *ngIf="[roles.ADMIN] | hasRoles" class="btn-icon btn-small btn-round" (click)="add.emit()">
        <i puiIcon="add" size="small"></i>
      </button>
    </div>

    <div class="fc fc-round fc-surface1 fc-outline">
      <i size="small" puiIcon="search"></i>
      <input
        type="search"
        [placeholder]="c['search']"
        [formControl]="searchControl"
      />
    </div>
  </header>

  <div class="list" *ngIf="topics$ | async as topics">
    <ng-container *ngIf="topics.length else noData">
      <div
        *ngFor="let topic of topics"
        class="list-item hover cursor-pointer"
        [class.active]="selected === topic.serial"
        (click)="selects.emit(topic.serial)"
      >
        <div>
          <p class="text1 bold">{{topic.name}}</p>
          <p class="f10 text3">{{topic.create_date | date: 'dd-MM-yyyy'}}</p>
        </div>
      </div>
    </ng-container>

    <ng-template #noData>
      <no-data-placeholder-widget
        [actionName]="c['addNew']"
        (action)="add.emit()"
        >{{c['noDataMsg']}}</no-data-placeholder-widget
      >
    </ng-template>
  </div>
</ng-container>
