:host {
  width: 240px;
  height: var(--main-height);
  display: grid;
  grid-template-rows: auto 1fr;
  border-inline-end: 1px solid var(--border1);
}


header {
  padding: 16px;
}





.list-item {
  padding: 16px;

  &.active {
    padding-inline-start: 23px;
  }
}
