<ng-container *contra="let c">
  <header class="bg-surface1 p-4">
    <div class="toolbar mbe-4">
      <h3 class="weight-8">{{c['regions']}}</h3>
      <div class="grow"></div>
      <button class="btn-icon btn-small btn-icon" (click)="openModal(addModal)">
        <i puiIcon="add" size="small"></i>
      </button>
    </div>

    <div class="fc fc-round fc-surface1 fc-outline">
      <i size="small" puiIcon="search"></i>
      <input
        type="search"
        [placeholder]="c['search']"
        [formControl]="searchControl"
      />
    </div>
  </header>

  <div
    class="list"
    *ngIf="searchControl.value | userRegions | async | fn: selectFirst as regions"
  >
    <ng-container *ngIf="regions.length else noData">
      <div
        class="list-item hover cursor-pointer bg-surface3 p-4"
        [class.active]="selected === region.serial"
        *ngFor="let region of regions"
        (click)="this.selects.emit(region.serial)"
      >
        <div>
          <p class="text1 bold">{{region.name}}</p>
          <p class="text3 f10">{{region.type}}</p>
        </div>
      </div>
    </ng-container>

    <ng-template #noData>
      <no-data-placeholder-widget
        [actionName]="c['addNew']"
        (action)="openModal(addModal)"
        >{{c['noDataMsg']}}</no-data-placeholder-widget
      >
    </ng-template>
  </div>

  <ng-template #addModal>
    <app-add-region (closes)="closeModal()"></app-add-region>
  </ng-template>
</ng-container>
