<ng-container *contra="let c">
  <header class="bg-surface1 p-4">
    <div class="toolbar mbe-4">
      <h3 class="weight-8">{{c['users']}}</h3>
      <div class="grow"></div>
      <button
        class="btn-icon btn-small btn-round"
        (click)="openModal(addUserModal)"
      >
        <i puiIcon="add" size="small"></i>
      </button>
    </div>

    <div class="fc fc-round fc-surface1 fc-outline">
      <i size="small" puiIcon="search"></i>
      <input
        type="search"
        [placeholder]="c['search']"
        [formControl]="searchControl"
      />
    </div>
  </header>

  <div class="list list-actions">
    <div
      class="list-item p-4"
      [class.active]="selected === u.serial"
      *ngFor="let u of users$ | async"
      (click)="selects.emit(u.serial)"
    >
      <app-avatar [serial]="u.serial" size="small"></app-avatar>
    </div>
  </div>

  <ng-template #addUserModal>
    <app-add-user (closes)="closeModal()"></app-add-user>
  </ng-template>
</ng-container>
