:host {
  height: var(--main-height);
  overflow-y: auto;
  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  border-block-end: 1px solid var(--border1);
}

.coords-btn {
  position: absolute;
  inset-block-end: 24px;
  inset-inline-end: 24px;
}