<ng-container *contra="let c">
  <ng-container *ngIf="region$ | async as region">
    <header class="bg-surface1 pbs-6 pi-8 border-be">
      <div class="container fit">
        <div class="toolbar gap-4 mbe-6">
          <div>
            <div>
              <a class="bold" routerLink="/main/regions">{{c['all']}}</a>
              <ng-container *ngFor="let p of breadcrumb">
                /
                <a
                  class="bold"
                  routerLink="/main/regions"
                  [queryParams]="{ region: p.serial }"
                  >{{p.name}}</a
                >
              </ng-container>
            </div>
            <h1 class="flex gap-2 weight-8">
              {{region.name}}
              <span class="badge badge-small badge-primary mbs-2"
                >{{region.type}}</span
              >
            </h1>
          </div>

          <div class="grow"></div>

          <button
            class="btn-primary btn-round"
            (click)="openModal(updateModal)"
          >
            <i color="white" size="small" puiIcon="edit_fill"></i>
            {{c['update']}}
          </button>
        </div>

        <div class="tabs-bar">
          <h5
            class="tab"
            [class.active]="tab === 'google'"
            (click)="tab = 'google'"
          >
            {{c['googleMaps']}}
          </h5>
          <h5 class="tab" [class.active]="tab === 'gis'" (click)="tab = 'gis'">
            {{c['gisMaps']}}
          </h5>
        </div>
      </div>
    </header>

    <section *ngIf="tab === 'google'">
      <ng-container *ngIf="hemeService.theme$ | async as theme">
        <pui-google-map
          [position]="region.location"
          [zoom]="zoom"
          [markers]="[{ position: region.location, label: region.name }]"
          [polygon]="polygon"
        ></pui-google-map
      ></ng-container>

      <button
        class="coords-btn color-scheme-dark btn-surface1 btn-round"
        (click)="openModal(updateCoordsModal)"
      >
        <i size="small" color="white" puiIcon="draw_fill"></i>
        {{c['newCoords']}}
      </button>
    </section>

    <pestras-gis-view *ngIf="tab === 'gis'" [region]="region"></pestras-gis-view>

    <ng-template #noGisData>
      <no-data-placeholder-widget small
        >{{c['noDataMsg']}}</no-data-placeholder-widget
      >
    </ng-template>

    <ng-template #updateModal>
      <app-update-region
        [region]="region"
        (closes)="closeModal()"
      ></app-update-region>
    </ng-template>

    <ng-template #updateCoordsModal>
      <app-update-coords
        [region]="region"
        (closes)="closeModal()"
      ></app-update-coords>
    </ng-template>
  </ng-container>
</ng-container>
