:host {
  background-color: var(--surface2);
  width: 240px;
  height: var(--main-height);
  display: grid;
  grid-template-rows: auto 1fr;
  border-inline-end: 1px solid var(--border1);

  .color-scheme-dark &,
  &.color-scheme-dark {
    background-color: var(--surface4);
  }
}
