<aside *contra="let c" (puiClickOutside)="this.full = false">
  <div class="toolbar">
    <button class="btn-icon" (click)="this.full = !this.full">
      <i puiIcon="menu"></i>
    </button>
    <div class="full grow"></div>
    <div class="full toolbar w-auto gap-2">
      <h4>PESTRAS</h4>
      <img class="p-logo" src="assets/imgs/logo.png" alt="" />
    </div>
  </div>

  <img class="short mi-auto p-logo" src="assets/imgs/logo.png" alt="" />

  <app-avatar
    class="cursor-pointer"
    *session="let user"
    [serial]="user.serial"
    [size]="full ? 'huge':'small'"
    [imageOnly]="!full"
    vertical
    (click)="nav(['/main/profile'])"
  ></app-avatar>

  <div class="grow"></div>

  <nav>
    <div class="full align-start mbs-6 mbe-2">
      <h5 class="primary pi-2">{{c['dataManagement']}}</h5>
      <p class="f10 pi-2 text3">{{c['dataMenuDesc']}}</p>
    </div>

    <a class="hover" (click)="nav(['/main/workspace'])" routerLinkActive="active">
      <i size="small" puiIcon="home"></i>
      <p class="full">{{c['workspace']}}</p>
    </a>
    <a class="hover" (click)="nav(['/main/topics'])" routerLinkActive="active">
      <i size="small" puiIcon="topics"></i>
      <p class="full">{{c['topics']}}</p>
    </a>
    <a class="hover" (click)="nav(['/main/dashboards'])" routerLinkActive="active">
      <i size="small" puiIcon="dashboard"></i>
      <p class="full">{{c['dashboards']}}</p>
    </a>

    <ng-container *ngIf="([roles.ADMIN, roles.DATA_ENG] | hasRoles)">
      <div class="full align-start mbs-6 mbe-2">
        <h5 class="primary pi-2">{{c['blueprintsManagment']}}</h5>
        <p class="f10 pi-2 text3">{{c['blueprintsManagementDesc']}}</p>
      </div>

      <div class="short splitter"></div>

      <a class="hover" (click)="nav(['/main/blueprints'])" routerLinkActive="active">
        <i size="small" puiIcon="blueprint"></i>
        <p class="full">{{c['blueprints']}}</p>
      </a>
    </ng-container>

    <ng-container *ngIf="(roles.ADMIN | hasRoles)">
      <div class="full align-start mbs-6 mbe-2">
        <h5 class="primary pi-2">{{c['system_administration']}}</h5>
        <p class="f10 pi-2 text3">{{c['adminMenuDesc']}}</p>
      </div>

      <div class="short splitter"></div>

      <a class="hover" (click)="nav(['/main/regions'])" routerLinkActive="active">
        <i size="small" puiIcon="travel_explore"></i>
        <p class="full">{{c['regions']}}</p>
      </a>
      <a class="hover" (click)="nav(['/main/orgunits'])" routerLinkActive="active">
        <i size="small" puiIcon="lan"></i>
        <p class="full">{{c['orgunits']}}</p>
      </a>
      <a
        *ngIf="'root' | inOrgunit"
        class="hover"
        (click)="nav(['/main/groups'])"
        routerLinkActive="active"
      >
        <i size="small" puiIcon="military_tech"></i>
        <p class="full">{{c['groups']}}</p>
      </a>
      <a class="hover" (click)="nav(['/main/users'])" routerLinkActive="active">
        <i size="small" puiIcon="group"></i>
        <p class="full">{{c['users']}}</p>
      </a>
    </ng-container>
  </nav>

  <div class="grow-3"></div>

  <footer>
    <button
      class="short btn-outline-danger btn-small btn-icon"
      (click)="this.openModal(signout)"
    >
      <i puiIcon="logout" size="small"></i>
    </button>

    <button
      class="full btn-outline-danger btn-small"
      (click)="this.openModal(signout)"
    >
      <i puiIcon="logout" size="small"></i>
      {{c['signout']}}
    </button>
  </footer>

  <ng-template #signout>
    <div class="card w-10 shadow-6">
      <h4 class="card-header">{{c['signout']}}</h4>

      <p class="card-body">{{c['confirmSignout']}}</p>

      <div class="card-footer">
        <button class="btn-outline btn-round" (click)="closeModal()">
          {{c['cancel']}}
        </button>
        <button class="btn-danger btn-round" (click)="logout()">
          {{c['yes']}}
        </button>
      </div>

      <pui-preloader *ngIf="preloader"></pui-preloader>
    </div>
  </ng-template>
</aside>
