<ng-container *contra="let c">
  <div class="box shadow-1">
    <div class="card card-clear card-huge overflow-hidden">
      <pui-preloader *ngIf="isLoading"></pui-preloader>

      <div class="card-body login-section">
        <div class="flex align-items-center gap-4 justify-content-center mbe-4 ltr">
          <img class="w-1" src="assets/imgs/logo.png" alt="pestras logo" />
          <p class="weight-8 f7">PESTRAS</p>
        </div>

        <h1 class="primary text-upper mbe-8 align-center">{{c['sign']}}</h1>

        <form [formGroup]="form" (ngSubmit)="login(c)">
          <label for="username">{{c['username']}}</label>
          <div class="fc mbe-4" [class.invalid]="form.get('username')?.invalid">
            <i puiIcon="person_fill" size="small" color="primary"></i>
            <input
              autocomplete="off"
              id="username"
              type="username"
              formControlName="username"
            />
          </div>

          <label for="password">{{c['password']}}</label>
          <div class="fc mbe-4" [class.invalid]="form.get('password')?.invalid">
            <i puiIcon="vpn_key_fill" size="small" color="primary"></i>
            <input id="password" type="password" formControlName="password" />
          </div>

          <pui-check-input
            class="mbe-4"
            [label]="c['remember_me']"
            formControlName="remember"
          ></pui-check-input>

          <button
            class="btn btn-primary btn-block mbe-2"
            [disabled]="form.invalid"
          >
            {{c['signin']}}
          </button>

          <button
            type="button"
            class="btn btn-success btn-block"
            (click)="guestLogin(c)"
          >
            {{c['guest']}}
          </button>
        </form>
      </div>

      <div class="card-footer justify-content-center">
        <p class="align-center f10 text3">{{c['rights']}}</p>
      </div>
    </div>

    <div class="banner color-scheme-dark p-16 flex align-items-center">
      <div>
        <div class="flex align-items-center gap-4 justify-content-center mbe-4">
          <img class="p-logo" src="assets/imgs/undp-logo.png" alt="UNDP logo" />
          <img class="p-logo" src="assets/imgs/gam-logo.jpg" />
        </div>

        <h1 class="align-center weight-8 mbe-4">{{c['appName']}}</h1>

        <p class="f8 align-center bold text3 mbe-20">{{c['ownerName']}}</p>
      </div>

      <img class="bg" src="assets/imgs/login-urban.png" />
    </div>
  </div>
</ng-container>
