<div class="toolbar h-fit gap-2" *contra="let c, let dir = dir">
  <img class="inline-block h-1 radius-2" src="assets/imgs/undp-logo.jpg" />
  <img class="inline-block h-1 radius-2" src="assets/imgs/gam-logo.jpg" />
  <h4>{{c['ownerName']}}</h4>

  <div class="grow"></div>

  <button
    *ngIf="roles.ADMIN | hasRoles"
    class="btn-round btn-success"
    (click)="openDialog(addTopicTmp)"
  >
    {{c['newtopic']}}
  </button>

  <!-- <button class="btn-icon btn-round">
    <i size="small" puiIcon="notifications"></i>
  </button>

  <button class="btn-icon btn-round">
    <i size="small" puiIcon="inbox"></i>
  </button> -->

  <ng-container *ngIf="null | contraLang | async as lang">
    <button #langBtn class="btn-icon btn-round" (click)="langDD.show()">
      <i size="small" puiIcon="language"></i>
    </button>

    <pui-dropdown #langDD [origin]="langBtn">
      <div class="card card-small w-5 shadow-4" contraLang #contra="contra">
        <div class="card-body list list-actions p-0">
          <h4 class="mb-2 pi-4">{{c['language']}}</h4>
          <div
            class="list-item hover-surface2 pi-4"
            *ngFor="let language of (null | contraLanguages)"
            (click)="contra.setLang(language.key)"
          >
            <p>{{language.name}}</p>
            <div class="grow"></div>
            <i *ngIf="lang === language.key" size="small" puiIcon="check"></i>
          </div>
        </div>
      </div>
    </pui-dropdown>
  </ng-container>

  <ng-template #addTopicTmp>
    <app-add-topic [parent]="null" (closes)="closeDialog()"></app-add-topic>
  </ng-template>
</div>
