<div class="toolbar h-fit gap-2" *contra="let c, let dir = dir">
  <img class="inline-block h-1 radius-1" src="assets/imgs/undp-logo.png" />
  <img class="inline-block h-1 radius-1" src="assets/imgs/gam-logo.jpg" />
  <h4>{{c['ownerName']}}</h4>

  <div class="grow"></div>

  <button
    *ngIf="roles.ADMIN | hasRoles"
    class="btn-round btn-small btn-success"
    (click)="openDialog(addTopicTmp)"
  >
    {{c['newtopic']}}
  </button>

  <!-- <button class="btn-icon btn-round">
    <i size="small" puiIcon="notifications"></i>
  </button>

  <button class="btn-icon btn-round">
    <i size="small" puiIcon="inbox"></i>
  </button> -->

  <div class="flex">
    <button #paintBtn class="btn-icon btn-round" (click)="paintDD.show()">
      <i size="small" puiIcon="paint"></i>
    </button>
    <pui-dropdown #paintDD [origin]="paintBtn">
      <div class="card card-small w-7 block shadow-4 maxh-12 overflow-auto">
        <div class="card-header bordered">
          <h4>{{c['style']}}</h4>
          <toggle-theme></toggle-theme>
        </div>
        <div class="card-header">
          <h4>{{c['fontsizeControl']}}</h4>
          <pui-font-size></pui-font-size>
        </div>
      </div>
    </pui-dropdown>
    <ng-container *ngIf="null | contraLang | async as lang">
      <button #langBtn class="btn-icon btn-round" (click)="langDD.show()">
        <i size="small" puiIcon="language"></i>
      </button>

      <pui-dropdown #langDD [origin]="langBtn">
        <div
          class="card card-small w-4 shadow-4"
          contraLang
          #contra="contra"
        >
          <div class="card-body list list-actions p-0">
            <h5 class="mbs-4 pi-4 primary">{{c['language']}}</h5>
            <div
              class="list-item hover-surface2 pi-4"
              *ngFor="let language of (null | contraLanguages)"
              (click)="contra.setLang(language.key)"
            >
              <p>{{language.name}}</p>
              <div class="grow"></div>
              <i
                *ngIf="lang === language.key"
                size="small"
                puiIcon="check"
              ></i>
            </div>
          </div>
        </div>
      </pui-dropdown>
    </ng-container>
  </div>

  <ng-template #addTopicTmp>
    <app-add-topic [parent]="null" (closes)="closeDialog()"></app-add-topic>
  </ng-template>
</div>
