:host {
  background-color: var(--surface3);
  padding-inline: 28px;

  .color-scheme-dark &,
  &.color-scheme-dark {
    background-color: var(--surface1-dark);
  }

}

.list-item-paint {
  display: flex;
  flex-direction: row;

}

.line-item {
  margin-right: 10px;
  /* Adjust the margin as needed */
}
