<ng-container *ngIf="topic$ | async as t">
  <main puiInfiniteScroll (reached)="pageBottomReached()" *contra="let c">
    <header class="bg-surface1 pbs-6 pi-4 border-be">
      <div class="container">
        <h3 class="bold f8">
        <app-breadcrumb [breadcrumbs]="breadcrumbs">

          
        </app-breadcrumb>
        
        </h3>
        <p class="bold text-3 f9">{{c['topic']}}</p>


        <div class="toolbar gap-2">
          <h1 class="f2 weight-8">{{t.name}}</h1>

          <app-workspace-toggle-pin
            [input]="{ name: t.name, serial: t.serial, scope: theme, type: wsType }"
          ></app-workspace-toggle-pin>

          <div class="grow"></div>

          <button
            *ngIf="t.owner | sessionIs"
            class="btn-primary btn-round"
            (click)="openDialog(updateTmp)"
          >
            <i size="small" puiIcon="edit"></i>
            {{c['update']}}
          </button>
        </div>
        <p class="text-3 bold f9 mbe-4">
          {{t.create_date | date: 'dd/MM/YYYY'}}
        </p>

        <div class="tabs-bar">
          <h5
            class="tab"
            [class.active]="view === 'main'"
            (click)="set('main')"
          >
            <i puiIcon="topics" size="small"></i>
            {{c['main']}}
          </h5>
          <h5
            class="tab"
            [class.active]="view === 'dashboards'"
            (click)="set('dashboards')"
          >
            <i size="small" puiIcon="dashboard"></i>
            {{c['dashboards']}}
          </h5>
          <h5
            class="tab"
            [class.active]="view === 'reports'"
            (click)="set('reports')"
          >
            <i size="small" puiIcon="report"></i>
            {{c['reports']}}
          </h5>
          <h5
            *ngIf="t.owner | sessionIs"
            class="tab"
            [class.active]="view === 'access'"
            (click)="set('access')"
          >
            <i puiIcon="military_tech" size="small"></i>
            {{c['access']}}
          </h5>
        </div>
      </div>
    </header>

    <div class="pb-6 pi-4">
      <div class="container">
        <app-data-stores-list-menu
          *ngIf="view === 'main'"
          class="mbe-8"
          [blueprint]="t.blueprint"
          [topic]="t.serial"
        ></app-data-stores-list-menu>

        <app-topic-dashboards-list
          *ngIf="view === 'dashboards'"
          [topic]="t.serial"
        ></app-topic-dashboards-list>

        <app-reports-list
          *ngIf="view === 'reports'"
          [topic]="t.serial"
        ></app-reports-list>

        <pestras-entity-access
          *ngIf="view === 'access'"
          [entity]="t.serial"
        ></pestras-entity-access>
      </div>
    </div>

    <ng-template #updateTmp>
      <div class="card w-15 shadow-6">
        <h4 class="card-header">{{c['updateTopic']}}</h4>

        <div class="card-body">
          <label for="dash-title">{{c['title']}} *</label>
          <div class="fc mbe-6">
            <input
              autocomplete="off"
              type="text"
              id="dash-title"
              [formControl]="title"
            />
          </div>
        </div>

        <div class="card-footer">
          <button class="btn-round btn-outline" (click)="this.closeDialog()">
            {{c['cancel']}}
          </button>
          <button
            class="btn-primary btn-round"
            [disabled]="title.invalid"
            (click)="update(c)"
          >
            {{c['update']}}
          </button>
        </div>

        <pui-preloader *ngIf="preloader"></pui-preloader>
      </div>
    </ng-template>
  </main>
</ng-container>
