:host {
  display: grid;
  grid-template-rows: auto 1fr;
  height: var(--main-height);
  width: 240px;
  border-inline-end: 1px solid var(--border1);

  header {
    background-color: var(--surface2);
    border-block-end: 1px solid var(--border1);
  }

  main {
    background-color: var(--surface1);
    overflow-y: auto;

    .color-scheme-dark &,
    &.color-scheme-dark {
      background-color: var(--surface3);
    }

  }

  .list-item {
    &.active {
      padding-inline-start: 23px;

      .icon {
        background-color: var(--primary);
      }

      h5 {
        color: var(--primary);
      }
    }
  }
}
