<ng-container *contra="let c">
  <header class="pi-7 pb-4 flex gap-2 align-items-center">
    <p class="f9 bold">{{c['list']}}</p>
  </header>

  <main class="list list-actions">
    <!-- Data Store Data -->
    <!-- ------------------------------------------------------------------------------------------ -->
    <div
      class="list-item p-4"
      [class.active]="view === 'data'"
      (click)="selects.emit('data')"
    >
      <div class="flex gap-2">
        <i size="small" puiIcon="description"></i>
        <div>
          <h5 class="line-height-8">{{c['data']}}</h5>
          <p class="text3 f9">{{c['templateData']}}</p>
        </div>
      </div>
    </div>

    <!-- Data Store Settings -->
    <!-- ------------------------------------------------------------------------------------------ -->
    <div
      class="list-item p-4"
      [class.active]="view === 'settings'"
      (click)="selects.emit('settings')"
    >
      <div class="flex gap-2">
        <i size="small" puiIcon="settings"></i>
        <div>
          <h5 class="line-height-8">{{c['settings']}}</h5>
          <p class="text3 f9">{{c['templateSettingsDesc']}}</p>
        </div>
      </div>
    </div>

    <!-- Data Store Web Service -->
    <!-- ------------------------------------------------------------------------------------------ -->
    <div
      *ngIf="dataStore.type === 'web_service'"
      class="list-item p-4"
      [class.active]="view === 'webService'"
      (click)="selects.emit('webService')"
    >
      <div class="flex gap-2">
        <i size="small" puiIcon="api"></i>
        <div>
          <h5 class="line-height-8">{{c['webService']}}</h5>
          <p class="text3 f9">{{c['templateSettingsDesc']}}</p>
        </div>
      </div>
    </div>

    <!-- Data Store Web Service -->
    <!-- ------------------------------------------------------------------------------------------ -->
    <div
      *ngIf="dataStore.type === 'aggregational'"
      class="list-item p-4"
      [class.active]="view === 'aggregation'"
      (click)="selects.emit('aggregation')"
    >
      <div class="flex gap-2">
        <i size="small" puiIcon="family_history"></i>
        <div>
          <h5 class="line-height-8">{{c['aggr']}}</h5>
          <p class="text3 f9">{{c['templateSettingsDesc']}}</p>
        </div>
      </div>
    </div>

    <!-- Data Store Fields -->
    <!-- ------------------------------------------------------------------------------------------ -->
    <div
      class="list-item p-4"
      [class.active]="view === 'fields'"
      (click)="selects.emit('fields')"
    >
      <div class="flex gap-2">
        <i size="small" puiIcon="table_rows"></i>
        <div>
          <h5 class="line-height-8">{{c['fields']}}</h5>
          <p class="text3 f9">{{c['fieldsDeffinition']}}</p>
        </div>
      </div>
    </div>

    <!-- Data Store Collaborators -->
    <!-- ------------------------------------------------------------------------------------------ -->
    <div
      class="list-item p-4"
      *ngIf="dataStore.type === 'table'"
      (click)="selects.emit('collaborators')"
    >
      <div class="flex gap-2">
        <i size="small" puiIcon="group"></i>
        <div>
          <h5 class="line-height-8">{{c['collaborators']}}</h5>
          <p class="text3 f9">{{c['collaboratorsDeffinition']}}</p>
        </div>
      </div>
    </div>
  </main>
</ng-container>
