<ng-container *contra="let c; let dir = dir">
  <header class="p-4 flex gap-2 align-items-center">
    <p class="f9 bold">{{c['list']}}</p>
  </header>

  <main class="list list-actions">
    <div
      class="list-item p-4"
      [class.active]="view === 'tables'"
      (click)="selects.emit('tables')"
    >
      <div class="flex gap-2">
        <i size="small" puiIcon="tables"></i>
        <div>
          <h5 class="line-height-8">{{c['tables']}}</h5>
          <p class="text3 f9">{{c['tablesListDesc']}}</p>
        </div>
      </div>
    </div>

    <div
      class="list-item p-4"
      [class.active]="view === 'aggr'"
      (click)="selects.emit('aggr')"
    >
      <div class="flex gap-2">
        <i size="small" puiIcon="lan"></i>
        <div>
          <h5 class="line-height-8">{{c['aggr']}}</h5>
          <p class="text3 f9">{{c['aggrListDesc']}}</p>
        </div>
      </div>
    </div>

    <div
      class="list-item p-4"
      [class.active]="view === 'categories'"
      (click)="selects.emit('categories')"
    >
      <div class="flex gap-2">
        <i size="small" puiIcon="category"></i>
        <div>
          <h5 class="line-height-8">{{c['categories']}}</h5>
          <p class="text3 f9">{{c['categoriesListDesc']}}</p>
        </div>
      </div>
    </div>

    <div
      class="list-item p-4"
      [class.active]="view === 'import'"
      (click)="selects.emit('import')"
    >
      <div class="flex gap-2">
        <i size="small" puiIcon="import"></i>
        <div>
          <h5 class="line-height-8">{{c['importData']}}</h5>
          <p class="text3 f9">{{c['importListDesc']}}</p>
        </div>
      </div>
    </div>

    <div
      class="list-item p-4"
      [class.active]="view === 'export'"
      (click)="selects.emit('export')"
    >
      <div class="flex gap-2">
        <i size="small" puiIcon="export"></i>
        <div>
          <h5 class="line-height-8">{{c['exportData']}}</h5>
          <p class="text3 f9">{{c['exportDataDesc']}}</p>
        </div>
      </div>
    </div>

    <div
      class="list-item p-4"
      [class.active]="view === 'workflow'"
      (click)="selects.emit('workflow')"
    >
      <div class="flex gap-2">
        <i size="small" puiIcon="workflow"></i>
        <div>
          <h5 class="line-height-8">{{c['workflow']}}</h5>
          <p class="text3 f9">{{c['workflowListDesc']}}</p>
        </div>
      </div>
    </div>

    <div
      class="list-item p-4"
      [class.active]="view === 'collaborators'"
      (click)="selects.emit('collaborators')"
    >
      <div class="flex gap-2">
        <i size="small" puiIcon="group"></i>
        <div>
          <h5 class="line-height-8">{{c['collaborators']}}</h5>
          <p class="text3 f9">{{c['collaboratorsDeffinition']}}</p>
        </div>
      </div>
    </div>
    
  </main>
</ng-container>
