<ng-container *contra="let c">

  <div class="toolbar mbe-6">
    <h4>{{c['params']}}</h4>
    <div class="grow"></div>
    <button *ngIf="editable" class="action btn-icon btn-small btn-round" (click)="openModal(formTmp)">
      <i puiIcon="add" size="small"></i>
    </button>
  </div>

  <table *ngIf="options.params.length">
    <thead>
      <tr>
        <th>#</th>
        <th>{{c['field']}}</th>
        <th>{{c['alias']}}</th>
        <th>{{c['operation']}}</th>
        <th class="w-2">{{c['required']}}</th>
        <th>{{c['defaultValue']}}</th>
        <th *ngIf="editable" class="w-2">{{c['update']}}</th>
        <th *ngIf="editable" class="w-2">{{c['remove']}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let param of options.params; let i = index">
        <td>{{i + 1}}</td>
        <td>{{param.field | fn: findField: dataStore.fields}}</td>
        <td>{{param.alias || c['none']}}</td>
        <td>{{[param.operator, c] | fn : findOperator}}</td>
        <td>
          <i *ngIf="param.required" puiIcon="check" size="small"></i>
          <i *ngIf="!param.required" puiIcon="close" size="small"></i>
        </td>
        <td>{{param.default || c['none']}}</td>
        <td *ngIf="editable">
          <button class="action btn-icon btn-small btn-round" (click)="openModal(formTmp, param)">
            <i puiIcon="edit" size="small"></i>
          </button>
        </td>
        <td *ngIf="editable">
          <button class="action btn-icon btn-small btn-round" (click)="openModal(removeTmp, param)">
            <i puiIcon="delete" size="small"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #formTmp let-param>
    <form class="card w-20 shadow-6" [formGroup]="form" (ngSubmit)="submit(param?.serial)">
      <h4 *ngIf="!param" class="card-header">{{c['addParam']}}</h4>
      <h4 *ngIf="param" class="card-header">{{c['addParam']}}</h4>

      <div class="card-body">
        <pui-check-input class="mbe-6" [label]="c['required']" formControlName="required"></pui-check-input>

        <div class="flex gap-4 align-items-center mbe-6">
          <div class="grow">
            <label for="field">{{c['field']}}</label>
            <div class="fc">
              <pui-select-input labelRef="field" [list]="dataStore.fields | arrayMap: mapField"
                formControlName="field"></pui-select-input>
            </div>
          </div>

          <div class="grow">
            <label for="operator">{{c['operator']}}</label>
            <div class="fc">
              <pui-select-input labelRef="operator" [list]="c['dataVizFilterOperators']"
                formControlName="operator"></pui-select-input>
            </div>
          </div>
        </div>

        <div class="flex gap-4 align-items-center">
          <div class="grow">
            <label for="alias">{{c['alias']}}</label>
            <div class="fc">
              <input type="text" id="alias" formControlName="alias">
            </div>
          </div>

          <div class="grow">
            <label for="default">{{c['defaultValue']}}</label>
            <div class="fc">
              <input type="text" id="default" formControlName="default">
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button class="btn-round btn-outline" type="reset" (click)="closeModal()">{{c['cancel']}}</button>
        <button class="btn-round btn-primary" [disabled]="form.invalid">{{c['submit']}}</button>
      </div>

      <pui-preloader *ngIf="preloader"></pui-preloader>
    </form>
  </ng-template>

  <ng-template #removeTmp let-param>
    <div class="card w-15 shadow-6">
      <h4 class="card-header">{{c['removeParam']}}</h4>
      <p class="card-body">{{c['confirmOperation']}}</p>

      <div class="card-footer">
        <button class="btn-round btn-outline" (click)="closeModal()">{{c['cancel']}}</button>
        <button class="btn-round btn-primary" (click)="remove(param.serial)">{{c['submit']}}</button>
      </div>

    </div>
  </ng-template>

</ng-container>