<form
  *contra="let c"
  class="card w-15 shadow-6"
  [formGroup]="form"
  (ngSubmit)="update(c)"
>
  <div class="card-header bordered">
    <h3>{{c['updatePassword']}}</h3>
  </div>

  <div class="card-body">
    <label for="user-password">{{c['password']}}</label>
    <div class="fc">
      <input type="password" id="user-password" formControlName="password">
    </div>
  </div>

  <div class="card-footer bordered">
    <button class="btn-round" type="reset" (click)="closes.emit()">
      {{c['cancel']}}
    </button>
    <button
      class="btn-primary btn-round"
      type="submit"
      [disabled]="form.invalid"
    >
      {{c['update']}}
    </button>
  </div>

  <pui-preloader *ngIf="preloader"></pui-preloader>
</form>
