<ng-container *contra="let c">
  <pestras-topics-list
    [selected]="selected"
    (selects)="set($event)"
    (add)="openDialog(addTopic)"
  ></pestras-topics-list>

  <div class="topic-details" *ngIf="selected | topic | async as topic">
    <header class="bg-surface1 pi-8 border-be">
      <div class="container tight">
        <div class="toolbar gap-4">
          <div>
            <p class="primary bold">
              {{topic.create_date | date: 'dd-MM-yyyy'}}
            </p>
            <h1 class="weight-8">{{topic.name}}</h1>
          </div>
          <div class="grow"></div>
          <a class="btn btn-primary btn-round" [routerLink]="topic.serial">
            {{c['continue']}}
          </a>
        </div>
      </div>
    </header>

    <main class="pi-8">
      <div class="container tight">
        <app-content-views
          [entity]="topic.serial"
          [editable]="topic.owner | sessionIs"
        ></app-content-views>
      </div>
    </main>
  </div>

  <ng-template #addTopic>
    <app-add-topic
      [parent]="parent ?? null"
      (closes)="closeDialog()"
    ></app-add-topic>
  </ng-template>
</ng-container>
