:host {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 320px;
  background-color: var(--surface1);

  header {
    background-color: var(--surface2);
    border-block: 1px solid var(--border1);
    padding: 24px 28px;
  }

  .list-item {
    padding: 28px;

    &.active {
      padding-inline-start: 23px;

      .icon {
        background-color: var(--primary);
      }

      h4 {
        color: var(--primary);
      }
    }
  }
}