<ng-container *contra="let c">
  <ng-container
    *ngIf="blueprint | blueprintDataStores: [types.TABLE] | async | fn: setDefaultActive as datastores"
  >
    <main class="accordion" *ngIf="datastores.length else noData">
      <ng-container *ngFor="let ds of datastores; let last = last">
        <div #card class="card card-clear mbe-4" [class.active]="active === ds">
          <div class="card-header pi-0">
            <h3>{{ds.name}}</h3>
            <div class="grow"></div>
            <button
              class="btn-icon btn-round"
              (click)="active = ds; tab = 'details'"
            >
              <i puiIcon="info" size="small"></i>
            </button>
            <button
              class="btn-round btn-primary"
              (click)="active = ds; tab = 'data'"
            >
              {{c['data']}}
            </button>
          </div>

          <div *ngIf="active" class="card-body p-0">
            <app-records-list
              *ngIf="tab === 'data'"
              [topic]="topic"
              [dataStore]="active"
              headless
            ></app-records-list>

            <app-content-views
              *ngIf="tab === 'details'"
              [entity]="active.serial"
              size="small"
            ></app-content-views>
          </div>
        </div>

        <div *ngIf="!last" class="divider mb-2"></div>
      </ng-container>
    </main>

    <ng-template #noData>
      <no-data-placeholder-widget
        >{{c['noDataMsg']}}</no-data-placeholder-widget
      >
    </ng-template>
  </ng-container>
</ng-container>
