<ng-container *contra="let c; let dir = dir">
  <div class="card bg-success-overlay card-small grow">
    <div class="card-body">
      <div class="flex gap-4 align-itenms-center">
        <i puiIcon="blueprint"></i>
        <p class="weight-9">{{c['blueprints']}}</p>
      </div>
      <div class="toolbar">
        <p class="weight-9 f3 stats-value success">{{null | blueprintsCount | async}}</p>
        <div class="grow"></div>
        <a
          class="btn btn-small btn-icon btn-round"
          routerLink="/main/blueprints"
        >
          <i
            [puiIcon]="dir === 'rtl' ? 'navigate_before' : 'navigate_next'"
            size="small"
          ></i>
        </a>
      </div>
    </div>
  </div>

  <div class="card card-small bg-warn-overlay grow">
    <div class="card-body">
      <div class="flex gap-4 align-itenms-center">
        <i puiIcon="topics"></i>
        <p class="weight-9">{{c['topics']}}</p>
      </div>
      <div class="toolbar">
        <p class="weight-9 f3 stats-value warn">{{null | topicsCount | async}}</p>
        <div class="grow"></div>
        <a class="btn btn-small btn-icon btn-round" routerLink="/main/topics">
          <i
            [puiIcon]="dir === 'rtl' ? 'navigate_before' : 'navigate_next'"
            size="small"
          ></i>
        </a>
      </div>
    </div>
  </div>

  <div class="card card-small bg-primary-overlay grow">
    <div class="card-body">
      <div class="flex gap-4 align-itenms-center">
        <i puiIcon="lan"></i>
        <p class="weight-9">{{c['orgunits']}}</p>
      </div>
      <div class="toolbar">
        <p class="weight-9 f3 stats-value primary">{{null | orgunitsCount | async}}</p>
        <div class="grow"></div>
        <a class="btn btn-small btn-icon btn-round" routerLink="/main/orgunits">
          <i
            [puiIcon]="dir === 'rtl' ? 'navigate_before' : 'navigate_next'"
            size="small"
          ></i>
        </a>
      </div>
    </div>
  </div>

  <div class="card card-small bg-danger-overlay grow">
    <div class="card-body">
      <div class="flex gap-4 align-itenms-center">
        <i puiIcon="group"></i>
        <p class="weight-9">{{c['users']}}</p>
      </div>
      <div class="toolbar">
        <p class="weight-9 f3 stats-value danger">{{null | usersCount | async}}</p>
        <div class="grow"></div>
        <a class="btn btn-small btn-icon btn-round" routerLink="/main/users">
          <i
            [puiIcon]="dir === 'rtl' ? 'navigate_before' : 'navigate_next'"
            size="small"
          ></i>
        </a>
      </div>
    </div>
  </div>

  <div class="card card-small bg-success-overlay grow">
    <div class="card-body">
      <div class="flex gap-4 align-itenms-center">
        <i puiIcon="travel_explore"></i>
        <p class="weight-9">{{c['regions']}}</p>
      </div>
      <div class="toolbar">
        <p class="weight-9 f3 stats-value success">{{null | regionsCount | async}}</p>
        <div class="grow"></div>
        <a class="btn btn-small btn-icon btn-round" routerLink="/main/users">
          <i
            [puiIcon]="dir === 'rtl' ? 'navigate_before' : 'navigate_next'"
            size="small"
          ></i>
        </a>
      </div>
    </div>
  </div>
</ng-container>
