<ng-container *contra="let c; let dir=dir">
  <header class="bg-surface1 p-4">
    <div class="toolbar mbe-4">
      <h3 class="weight-8">{{c['usersGroups']}}</h3>
      <div class="grow"></div>
      <button class="btn-icon btn-small btn-round" (click)="add.emit()">
        <i puiIcon="add" size="small"></i>
      </button>
    </div>

    <div class="fc fc-round fc-surface1 fc-outline">
      <i size="small" puiIcon="search"></i>
      <input
        type="search"
        [placeholder]="c['search']"
        [formControl]="searchControl"
      />
    </div>
  </header>

  <div class="list" *ngIf="groups$ | async as groups">
    <ng-container *ngIf="groups.length else noData">
      <div
        class="list-item hover cursor-pointer p-4"
        [class.active]="selected === group.serial"
        *ngFor="let group of groups"
        (click)="this.selects.emit(group.serial)"
      >
        <p class="text1 bold">{{group.name}}</p>
      </div>
    </ng-container>

    <ng-template #noData>
      <no-data-placeholder-widget
        [actionName]="c['addNew']"
        [small]="true"
        (action)="add.emit()"
        >{{c['noDataMsg']}}</no-data-placeholder-widget
      >
    </ng-template>
  </div>
</ng-container>
