<div class="container tight" *contra="let c; let dir = dir">
  <header class="mbs-16 mbe-10">
    <h1 class="weight-8 f2">
      <span>{{c['update']}}</span>
      {{dataStore.name}}
    </h1>
  </header>

  <form class="card mbe-10" [formGroup]="form" (ngSubmit)="update(c)">
    <h4 class="card-header">{{group}}</h4>

    <div class="card-body">
      <div *ngFor="let field of fields; let last = last" [class.mbe-6]="!last">
        <div [class.disabled]="!form.controls[field.parent].value"
          *ngIf="field.type === 'category' && field.parent else normalField"
        >
          <app-field-value-input
            [field]="field"
            [formControlName]="field.name"
            [record]="form.value"
          ></app-field-value-input>
        </div>

        <ng-template #normalField>
          <app-field-value-input
            [field]="field"
            [formControlName]="field.name"
            [record]="form.value"
          ></app-field-value-input>
        </ng-template>
      </div>
    </div>

    <div class="card-footer">
      <button class="btn-primary btn-round" [disabled]="form.invalid">
        {{c['submit']}}
      </button>
    </div>

    <pui-preloader *ngIf="preloader"></pui-preloader>
  </form>
</div>
