<main *contra="let c">
  <div class="toolbar">
    <h2>{{c['tableSettings']}}</h2>
  </div>

  <div class="divider mbs-4 mbe-8"></div>

  <form
    class="relative"
    [class.disabled]="!editable"
    [formGroup]="form"
    (ngSubmit)="set(c)"
  >
    <h4 class="mbe-6">{{c['data']}}</h4>

    <label for="interface-field">{{c['interfaceField']}}</label>
    <div class="fc fc-surface1 fc-outline mbe-6">
      <pui-select-input
        [list]="dataStore.fields | arrayMap: mapField"
        labelRef="interface-field"
        formControlName="interface_field"
      ></pui-select-input>
    </div>

    <!-- Table Type only Settings -->
    <ng-container *ngIf="dataStore.type === 'table'">
      <!-- Static Table -->
      <pui-check-input
        class="mbe-6"
        [label]="c['staticTable']"
        formControlName="static"
      ></pui-check-input>

      <!-- History -->
      <pui-check-input
        class="mbe-6"
        [label]="c['saveHistory']"
        formControlName="history"
      ></pui-check-input>

      <!-- Workflow -->
      <h4 class="mbe-6">{{c['workflow']}}</h4>
      <div formGroupName="workflow" class="grid cols-3 gap-4 mbe-6">
        <div>
          <label for="wf-add">
            {{c['add']}}
            <div class="grow"></div>
            <pui-check-input
              small
              [label]="c['allow']"
              [formControl]="allowCreateCtrl"
            ></pui-check-input>
          </label>
          <div
            [class.disabled]="allowCreateCtrl.value"
            class="fc fc-surface1 fc-outline"
          >
            <pui-select-input
              labelRef="wf-add"
              [list]="dataStore.blueprint | workflows | async | arrayMap: mapWorkflow"
              formControlName="create"
            ></pui-select-input>
          </div>
        </div>
        <div>
          <label for="wf-update">
            {{c['update']}}
            <div class="grow"></div>
            <pui-check-input
              small
              [label]="c['allow']"
              [nullable]="true"
              [formControl]="allowUpdateCtrl"
            ></pui-check-input>
          </label>
          <div
            [class.disabled]="allowUpdateCtrl.value !== null"
            class="fc fc-surface1 fc-outline"
          >
            <pui-select-input
              labelRef="wf-update"
              [list]="dataStore.blueprint | workflows | async | arrayMap: mapWorkflow"
              formControlName="update"
            ></pui-select-input>
          </div>
        </div>
        <div>
          <label for="wf-delete">
            {{c['delete']}}
            <div class="grow"></div>
            <pui-check-input
              small
              [label]="c['allow']"
              [nullable]="true"
              [formControl]="allowDeleteCtrl"
            ></pui-check-input>
          </label>
          <div
            [class.disabled]="allowDeleteCtrl.value !== null"
            class="fc fc-surface1 fc-outline"
          >
            <pui-select-input
              labelRef="wf-delete"
              [list]="dataStore.blueprint | workflows | async | arrayMap: mapWorkflow"
              formControlName="delete"
            ></pui-select-input>
          </div>
        </div>
      </div>

      <div class="divider mb-8"></div>

      <!-- Attachments -->
      <h4 class="mbe-6">{{c['attachments']}}</h4>

      <div class="flex gap-4">
        <label for="max-attachments">{{c['maxAttachmentsCount']}}</label>
        <div class="fc fc-surface1 fc-outline w-2">
          <input
            type="number"
            id="max-attachments"
            formControlName="max_attachments_count"
          />
        </div>
      </div>
    </ng-container>

    <div class="divider mb-8"></div>

    <h3 class="mbe-6">{{c['recordViewSettings']}}</h3>

    <!-- Card View Settings -->
    <pui-check-input
      class="mbe-6"
      [label]="c['cardView']"
      [formControl]="cardView"
    ></pui-check-input>

    <ng-container *ngIf="cardView.value" formGroupName="card_view">
      <div class="flex gap-6 mbe-6">
        <div class="grow">
          <label for="card-title">{{c['title']}}</label>
          <div class="fc fc-surface1 fc-outline">
            <pui-select-input
              [list]="dataStore.fields | arrayMap: mapField"
              formControlName="title"
              labelRef="card-title"
            ></pui-select-input>
          </div>
        </div>
        <div class="grow">
          <label for="card-image">{{c['image']}}</label>
          <div class="fc fc-surface1 fc-outline">
            <pui-select-input
              [list]="dataStore.fields | arrayFilter: imageFields | arrayMap: mapField"
              formControlName="image"
              labelRef="card-image"
            ></pui-select-input>
          </div>
        </div>
      </div>

      <label for="card-details">{{c['details']}}</label>
      <div class="fc fc-surface1 fc-outline mbe-6">
        <pui-multi-select-input
          [list]="dataStore.fields | arrayMap: mapField"
          formControlName="details"
          labelRef="card-details"
          badges
          [trans]="{ item: c['item'], items: c['items'], all: c['all'], placeholder: c['selectFields'] }"
        ></pui-multi-select-input>
      </div>
    </ng-container>

    <div class="divider mb-8"></div>

    <!-- Tree View Settings -->
    <pui-check-input
      class="mbe-6"
      [label]="c['treeView']"
      [formControl]="treeView"
    ></pui-check-input>

    <ng-container
      *ngIf="treeView.value && form.controls.tree_view"
      formArrayName="tree_view"
    >
      <div
        class="flex align-items-end gap-2 mbe-6"
        *ngFor="let g of form.controls.tree_view.controls; let i = index"
        [formGroup]="g"
      >
        <div class="grow">
          <label [for]="i + '-tree-field'">{{c['field']}}</label>
          <div class="fc fc-surface1 fc-outline">
            <pui-select-input
              [list]="dataStore.fields | arrayMap: mapField"
              formControlName="field"
              [labelRef]="i + '-tree-field'"
            ></pui-select-input>
          </div>
        </div>

        <div class="grow">
          <label [for]="i + '-tree-display-field'"
            >{{c['display_field']}}</label
          >
          <div class="fc fc-surface1 fc-outline">
            <pui-select-input
              [list]="dataStore.fields | arrayFilter: filterTreeDisplayField | arrayMap: mapField"
              formControlName="display_field"
              [labelRef]="i + '-tree-display-field'"
            ></pui-select-input>
          </div>
        </div>

        <button
          *ngIf="form.controls.tree_view.controls.length > 1"
          class="btn-icon btn-round"
          (click)="form.controls.tree_view.removeAt(i)"
        >
          <i puiIcon="delete" color="danger"></i>
        </button>
      </div>

      <div class="flex justify-content-center">
        <button
          type="button"
          class="btn-icon btn-round btn-small btn-outline"
          (click)="addTreeViewItem()"
        >
          <i puiIcon="add" size="small"></i>
        </button>
      </div>
    </ng-container>

    <div class="divider mb-8"></div>

    <button
      class="btn-primary btn-round"
      type="submit"
      [disabled]="form.invalid"
    >
      {{c['save']}}
    </button>

    <pui-preloader *ngIf="preloader" bg="bg-surface3"></pui-preloader>
  </form>
</main>
