<ng-container *contra="let c; let dir=dir">
  <header>
    <div class="toolbar mbe-4">
      <h3 class="weight-8">{{c['orgunits']}}</h3>
      <div class="grow"></div>
      <button class="btn-icon btn-small btn-round" (click)="add.emit()">
        <i puiIcon="add" size="small"></i>
      </button>
    </div>

    <div class="fc fc-round fc-surface1 fc-outline">
      <i size="small" puiIcon="search"></i>
      <input
        type="search"
        [placeholder]="c['search']"
        [formControl]="searchControl"
      />
    </div>
  </header>

  <div class="list" *ngIf="orgunits$ | async as orgunits">
    <ng-container *ngIf="orgunits.length else noData">
      <div
        class="list-item"
        [class.active]="selected === org.serial"
        *ngFor="let org of orgunits"
      >
        <div class="list-item-hero" [style.background-color]="10 | randomColor">
          <img
            *ngIf="org.logo"
            [src]="org.logo | docsPath"
            alt="orgunit logo"
          />
          <i *ngIf="!org.logo" color="white" size="small" puiIcon="lan"></i>
        </div>

        <div>
          <p class="text1 bold">{{org.name}}</p>
          <p class="f10 text3">{{org.class}}</p>
        </div>

        <div class="grow"></div>

        <button
          class="btn-icon btn-small btn-round"
          (click)="selects.emit(org.serial)"
        >
          <i
            size="small"
            [puiIcon]="dir === 'rtl' ? 'navigate_before' : 'navigate_next'"
          ></i>
        </button>
      </div>
    </ng-container>

    <ng-template #noData>
      <no-data-placeholder-widget
        [actionName]="c['addNew']"
        (action)="add.emit()"
        >{{c['noDataMsg']}}</no-data-placeholder-widget
      >
    </ng-template>
  </div>
</ng-container>
