<ng-container *contra="let c; let dir = dir">
  <header class="p-4 flex gap-2 align-items-center">
    <button class="btn-small btn-round btn-icon" (click)="loc.back()">
      <i
        size="small"
        color="primary"
        [class.rotate-180]="dir === 'ltr'"
        puiIcon="trending_flat"
      ></i>
    </button>
    <p class="f9 bold">{{c['list']}}</p>
  </header>

  <main class="list">
    <div
      class="list-item hover cursor-pointer p-4"
      [class.active]="view === 'details'"
      (click)="selects.emit('details')"
    >
      <div class="flex gap-2">
        <i size="small" puiIcon="description"></i>
        <div>
          <h4 class="mbe-1">{{c['desc']}}</h4>
          <p class="text3 f9">{{c['topicDetails']}}</p>
        </div>
      </div>
    </div>

    <div
      *ngIf="topic.owner | sessionIs"
      class="list-item hover cursor-pointer p-4"
      [class.active]="view === 'access'"
      (click)="selects.emit('access')"
    >
      <div class="flex gap-2">
        <i size="small" puiIcon="access"></i>
        <div>
          <h4 class="mbe-1">{{c['access']}}</h4>
          <p class="text3 f9">{{c['accessDesc']}}</p>
        </div>
      </div>
    </div>

    <div
      class="list-item hover cursor-pointer p-4"
      [class.active]="view === 'dashboards'"
      (click)="selects.emit('dashboards')"
    >
      <div class="flex gap-2">
        <i size="small" puiIcon="dashboard"></i>
        <div>
          <h4 class="mbe-1">{{c['dashboards']}}</h4>
          <p class="text3 f9">{{c['dashboardsDesc']}}</p>
        </div>
      </div>
    </div>

    <div
      class="list-item hover cursor-pointer p-4"
      [class.active]="view === 'reports'"
      (click)="selects.emit('reports')"
    >
      <div class="flex gap-2">
        <i size="small" puiIcon="report"></i>
        <div>
          <h4 class="mbe-1">{{c['reports']}}</h4>
          <p class="text3 f9">{{c['reportsDesc']}}</p>
        </div>
      </div>
    </div>
  </main>
</ng-container>
