:host {
  display: grid;
  grid-template-rows: auto 1fr;
  height: var(--main-height);
  width: 320px;
  border-inline-end: 1px solid var(--border1);

  main {
    background-color: var(--surface1);
    overflow-y: auto;
  }

  header {

    .color-scheme-dark &,
    &.color-scheme-dark {
      background-color: var(--surface3);
    }
  }
}
