<ng-container *contra="let c">
  <div class="toolbar gap-1 mbe-4">
    <h3>{{c['slides']}}</h3>
    <div class="grow"></div>
    <ng-container *ngIf="slides.length">
      <div class="fc fc-surface1 fc-small fc-outline fc-round w-10">
        <pui-select-input
          [list]="slides"
          [formControl]="select"
        ></pui-select-input>
      </div>
      <button
        class="btn-icon btn-round btn-small btn-outline rtl-x-flip"
        [class.btn-success]="playing"
        (click)="togglePlay()"
      >
        <i size="tiny" [puiIcon]="playing ? 'pause' : 'play'"></i>
      </button>
      <button
        class="btn-icon btn-small btn-outline-danger btn-round"
        (click)="openDialog(removeTmp, active!.slide)"
      >
        <i size="tiny" puiIcon="delete"></i>
      </button>
    </ng-container>
    <button
      #favBtn
      class="btn-icon btn-small btn-outline-danger btn-round"
      (click)="favDD.show()"
    >
      <i size="tiny" puiIcon="favorite"></i>
    </button>
    <pui-dropdown #favDD [origin]="favBtn">
      <div class="card card-small shadow-4 maxh-12 overflow-auto">
        <div class="card-body">
          <app-pins [ws]="ws"></app-pins>
        </div>
      </div>
    </pui-dropdown>
  </div>

  <ng-container *ngIf="active else noData">
    <app-dashboard-slide
      *ngIf="active.dashboard | dashboard | async as d"
      [dashboard]="d"
      [slideSerial]="active.slide"
      [headless]="true"
    ></app-dashboard-slide>
  </ng-container>

  <ng-template #noData>
    <no-data-placeholder-widget>{{c['noDataMsg']}}</no-data-placeholder-widget>
  </ng-template>

  <ng-template #removeTmp let-serial>
    <div class="card w-15 shadow-6">
      <h4 class="card-header">{{c['removeSlide']}}</h4>
      <p class="card-body">{{c['confirmOperation']}}</p>
      <div class="card-footer">
        <button class="btn-round btn-outline" (click)="closeDialog()">
          {{c['cancel']}}
        </button>
        <button class="btn-round btn-primary" (click)="removeSlide(serial)">
          {{c['remove']}}
        </button>
      </div>
    </div>
  </ng-template>
</ng-container>
