:host {
  display: block;
  width: calc(100vw - 72px);
  height: var(--main-height);
  overflow: auto;
}

header {
  position: relative;
  padding-block: 48px;
  border-block-end: 1px solid var(--border1);

  .color-scheme-dark &,
  &.color-scheme-dark {
    background-color: var(--surface4);
  }
}

main {
  padding-block: 32px;
}
