<div puiInfiniteScroll (reached)="load()" *contra="let c">
  <header class="color-scheme-dark">
    <t-bg-widget></t-bg-widget>

    <div class="container tight">
      <div class="align-center">
        <h1 class="weight-8 mbe-4 f1">{{c['dashboards']}}</h1>
        <p class="text3 f6 w-15 mi-auto">
          خسائر اللازمة ومطالبة حدة بل. الآخر الحلفاء أن غزو, إجلاء وتنامت عدد
          مع. لقهر معركة لبلجيكا، بـ انه, ربع الأثنان المقيتة في, اقتصّت المحور
          حدة.
        </p>
      </div>
    </div>
  </header>

  <main>
    <div class="container">
      <div class="card card-clear pi-3">
        <div class="card-tabs" *ngIf="tab$ | async as tab">
          <h5
            class="tab"
            [class.active]="tab === 'public'"
            (click)="tab$.next('public')"
          >
            {{c['public']}}
          </h5>
          <h5
            class="tab"
            [class.active]="tab === 'owned'"
            (click)="tab$.next('owned')"
          >
            {{c['owned']}}
          </h5>
          <div class="grow"></div>
          <button
            class="btn-small btn-icon btn-round"
            (click)="openDialog(addTmp)"
          >
            <i puiIcon="add" size="small"></i>
          </button>
        </div>

        <ng-container *ngIf="dashboards$ | async as dashboards">
          <div class="card-body pi-3 pbe-0">
            <table *ngIf="dashboards.results.length else noData">
              <thead>
                <tr>
                  <th class="w-2">#</th>
                  <th>{{c['title']}}</th>
                  <th>{{c['owner']}}</th>
                  <th>{{c['createDate']}}</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let ds of dashboards.results; let i = index"
                  class="row-hover"
                  [routerLink]="[ds.serial]"
                >
                  <td class="index-col">{{skip + i + 1}}</td>
                  <td>{{ds.title}}</td>
                  <td>
                    <app-avatar [serial]="ds.owner" size="small"></app-avatar>
                  </td>
                  <td class="date-col w-3">
                    {{ds.create_date | date: 'dd-MM-yyyy'}}
                  </td>
                </tr>
              </tbody>
            </table>

            <ng-template #noData>
              <no-data-placeholder-widget
                [actionName]="c['addNew']"
                (action)="openDialog(addTmp)"
                >{{c['noDataMsg']}}</no-data-placeholder-widget
              >
            </ng-template>
          </div>

          <div class="card-footer">
            <div class="grow"></div>
            <pui-table-pagination
              [pageSize]="10"
              [count]="count"
              (selects)="page$.next($event)"
            ></pui-table-pagination>
            <div class="grow"></div>
          </div>
        </ng-container>
      </div>
    </div>
  </main>

  <ng-template #addTmp>
    <div class="card w-15 shadow-6">
      <h4 class="card-header">{{c['addNew']}}</h4>

      <div class="card-body">
        <label for="dash-title">{{c['title']}} *</label>
        <div class="fc">
          <input
            autocomplete="off"
            type="text"
            id="dash-title"
            [formControl]="title"
          />
        </div>
      </div>

      <div class="card-footer">
        <button class="btn-round btn-outline" (click)="this.closeDialog()">
          {{c['cancel']}}
        </button>
        <button
          class="btn-primary btn-round"
          [disabled]="title.invalid"
          (click)="add(c)"
        >
          {{c['add']}}
        </button>
      </div>

      <pui-preloader *ngIf="preloader"></pui-preloader>
    </div>
  </ng-template>
</div>
