:host {
  display: grid;
  grid-template-rows: auto 1fr;
  height: var(--main-height);
  width: 240px;
  border-inline-end: 1px solid var(--border1);

  main {
    overflow-y: auto;
  }


  .list {
    background-color: var(--surface1);
  }
}
