:host {
  display: grid;
  grid-template-rows: auto 1fr;
  height: var(--main-height);
  width: 320px;
  border-inline-end: 1px solid var(--border1);

  header {
    background-color: var(--surface2);
    border-block-end: 1px solid var(--border1);
  }

  main {
    background-color: var(--surface1);
    overflow-y: auto;
  }

  .list-item {
    padding: 28px;
    
    &.active {
      padding-inline-start: 23px;
  
      .icon {
        background-color: var(--primary);
      }
  
      h4 {
        color: var(--primary);
      }
    }
  }
}