<ng-container *contra="let c">
  <header class="p-4 flex gap-2 align-items-center">
    <p class="f9 bold">{{c['list']}}</p>
  </header>

  <main class="list">
    <div
      class="list-item hover cursor-pointer p-4"
      [class.active]="view.name === 'details'"
      (click)="selects.emit({ name: 'details' })"
    >
      <div class="flex gap-2">
        <i size="small" puiIcon="description"></i>
        <div>
          <h5 class="line-height-6">{{c['desc']}}</h5>
          <p class="text3 f9">{{c['topicDetails']}}</p>
        </div>
      </div>
    </div>

    <ng-container *ngIf="isTable">
      <div
        class="list-item hover cursor-pointer p-4"
        [class.active]="view.name === 'attachments'"
        (click)="selects.emit({ name: 'attachments' })"
      >
        <div class="flex gap-2">
          <i size="small" puiIcon="attachments"></i>
          <div>
            <h5 class="line-height-6">{{c['attachments']}}</h5>
            <p class="text3 f9">{{c['attachmentsInfo']}}</p>
          </div>
        </div>
      </div>

      <div
        class="list-item hover cursor-pointer p-4"
        [class.active]="view.name === 'history'"
        (click)="selects.emit({ name: 'history' })"
      >
        <div class="flex gap-2">
          <i size="small" puiIcon="history"></i>
          <div>
            <h5 class="line-height-6">{{c['history']}}</h5>
            <p class="text3 f9">{{c['historyInfo']}}</p>
          </div>
        </div>
      </div>

      <div
        class="list-item hover cursor-pointer p-4"
        [class.active]="view.name === 'comments'"
        (click)="selects.emit({ name: 'comments' })"
      >
        <div class="flex gap-2">
          <i size="small" puiIcon="comments"></i>
          <div>
            <h5 class="line-height-6">{{c['comments']}}</h5>
            <p class="text3 f9">{{c['commentsInfo']}}</p>
          </div>
        </div>
      </div>

      <div
        *ngIf="workflowEnabled"
        class="list-item hover cursor-pointer p-4"
        [class.active]="view.name === 'workflow'"
        (click)="selects.emit({ name: 'workflow' })"
      >
        <div class="flex gap-2">
          <i size="small" puiIcon="workflow"></i>
          <div>
            <h5 class="line-height-6">{{c['workflow']}}</h5>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="subDataStores.length">
      <div class="pi-7 pb-4 bg-surface2 border-be">
        <h5>{{c['relations']}}</h5>
      </div>

      <div
        *ngFor="let ds of subDataStores; let i = index"
        class="list-item hover cursor-pointer p-4"
        [class.active]="view.name === 'subDataStores'"
        (click)="selects.emit({ name: 'subDataStores', payload: i })"
      >
        <div class="flex gap-2">
          <i size="small" puiIcon="database"></i>
          <div>
            <h5 class="line-height-6">{{ds.name}}</h5>
          </div>
        </div>
      </div>
    </ng-container>
  </main>

  <div
    class="p-4 align-center bg-surface3"
    *ngIf="deleteAllowed && (record.serial | recordActiveWF: dataStore.serial | async) === null && ((record.owner | sessionIs) || ((dataStore.blueprint | blueprint | async)?.owner | sessionIs))"
  >
    <button
      class="btn-outline-danger btn-small"
      (click)="openDialog(confirmDelete)"
    >
      <i puiIcon="delete" size="tiny"></i>
      {{c['delete']}}
    </button>
  </div>

  <ng-template #confirmDelete>
    <div class="card w-10 shadow-6">
      <h4 class="card-header">{{c['deleteRecord']}}</h4>
      <p *ngIf="!includeDeleteMsg" class="card-body">
        {{c['confirmOperation']}}
      </p>
      <div *ngIf="includeDeleteMsg" class="card-body">
        <label for="delete-message">{{c['addRemark']}}</label>
        <div class="fc">
          <input
            type="text"
            id="delete-message"
            [formControl]="deleteMsgCtrl"
          />
        </div>
      </div>
      <div class="card-footer">
        <button class="btn-round" (click)="closeDialog()">
          {{c['cancel']}}
        </button>
        <button class="btn-danger btn-round" (click)="delete(c['errors'])">
          {{c['delete']}}
        </button>
      </div>
      <pui-preloader *ngIf="preloader"></pui-preloader>
    </div>
  </ng-template>
</ng-container>
